(function(){

  var v = "1.3.2";

  if (window.jQuery === undefined || window.jQuery.fn.jquery < v) {
    var done = false;
    var script = document.createElement("script");
    script.src = "http://ajax.googleapis.com/ajax/libs/jquery/" + v + "/jquery.min.js";
    script.onload = script.onreadystatechange = function(){
      if (!done && (!this.readyState || this.readyState == "loaded" || this.readyState == "complete")) {
        done = true;
        initMyBookmarklet();
      }
    };
    document.getElementsByTagName("head")[0].appendChild(script);
  } else {
    initMyBookmarklet();
  }
  
  function initMyBookmarklet() {
    (window.myBookmarklet = function() {
      if ($("#linksaveObject").length == 0) {
        $("body").append('
          <div id="linksaveObject" style="width: 100%; height: 200px; background-color: #FF0000; position: absolute; top: 0; left: 0">
            Link saved!
          </div>');
          $("#linksaveObject").slideDown(500);
          setTimeout("$('#linksaveObject').slideUp(500);", 750);          
        }
      } else {
          $("#linksaveObject").slideUp(500);
      }
    })();
  }

})();