<html>
<head>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/sweet-alert.css">
    <link rel="stylesheet" href="/styles/chardinjs.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/bootstrap-social.css">
	<link rel="stylesheet" href="/min/production.min.css">    
    <!--STYLES END-->	
    <link rel="stylesheet" href="/styles/dashboard.css">
</head>
<body>
	<div id="dashboard-area">
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<div class="row">
				<div class="col-md-5 dashbox dash-link">
					<p class="dash-big-text" id="links-today">...</p>
					<p class="dash-small-text">Links Today</p>
				</div>
				<div class="col-md-5 dashbox dash-link col-md-offset-1">
					<p class="dash-big-text" id="links-total">...</p>
					<p class="dash-small-text">Links Total</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-11 dashbox" id="dash-link-list">				
				</div>
			</div>
		</div>
		<div class="col-md-5 col-md-offset-1">
			<div class="row">		
				<div class="col-md-5 dashbox dash-user">
					<p class="dash-big-text" id="users-today">...</p>
					<p class="dash-small-text">Users Today</p>
				</div>
				<div class="col-md-5 dashbox dash-user col-md-offset-1">
					<p class="dash-big-text" id="users-total">...</p>
					<p class="dash-small-text">Users Total</p>
				</div>					
			</div>
			<div class="row">
				<div class="col-md-11 dashbox" id="dash-user-list">
				</div>		
			</div>
		</div>
	</div>
	</div>
	<!--SCRIPTS-->
	<script src="/js/dependencies/sails.io.js"></script>
	<script src="/js/dependencies/jquery1.11.js"></script>
	<script src="/js/dependencies/jquery-ui.min.js"></script>
	<script src="/js/dependencies/bootstrap.min.js"></script>
	<script src="/js/dependencies/chardinjs.min.js"></script>
	<script src="/js/dependencies/ejs_0.9_alpha_1.js"></script>
	<script src="/js/dependencies/jquery.cropit.min.js"></script>
	<script src="/js/dependencies/jquery.endless-scroll.js"></script>
	<script src="/js/dependencies/jquery.infinitescroll.min.js"></script>
	<script src="/js/dependencies/jquery.jpanelmenu.min.js"></script>
	<script src="/js/dependencies/jquery.jscroll.min.js"></script>
	<script src="/js/dependencies/jquery.masonry.js"></script>
	<script src="/js/dependencies/jquery.zoom.min.js"></script>
	<script src="/js/dependencies/sweet-alert.min.js"></script>
	<script src="/js/dependencies/underscore.js"></script>
	<!--SCRIPTS END-->
  <script src="/js/dashboard.js"></script> 	
</body>
</html>