<html>
<head>
    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.min.css">
    <!--STYLES END-->	
    <link rel="stylesheet" href="/styles/dashboard.css">
</head>
<body>
	<div id="dashboard-area">
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<div class="row">
				<div class="col-md-5 dashbox dash-link">
					<p class="dash-big-text" id="links-today">...</p>
					<p class="dash-small-text">Links Today</p>
				</div>
				<div class="col-md-5 dashbox dash-link col-md-offset-1">
					<p class="dash-big-text" id="links-total">...</p>
					<p class="dash-small-text">Links Total</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-11 dashbox" id="dash-link-list">				
				</div>
			</div>
		</div>
		<div class="col-md-5 col-md-offset-1">
			<div class="row">		
				<div class="col-md-5 dashbox dash-user">
					<p class="dash-big-text" id="users-today">...</p>
					<p class="dash-small-text">Users Today</p>
				</div>
				<div class="col-md-5 dashbox dash-user col-md-offset-1">
					<p class="dash-big-text" id="users-total">...</p>
					<p class="dash-small-text">Users Total</p>
				</div>					
			</div>
			<div class="row">
				<div class="col-md-11 dashbox" id="dash-user-list">
				</div>		
			</div>
		</div>
	</div>
	</div>
	<!--SCRIPTS-->
	<script src="/min/production.min.js"></script>
	<!--SCRIPTS END-->
  <script src="/js/dashboard.js"></script> 	
</body>
</html>