    <div class="container main-area">
    	<div class="row">
			<div class="col-md-3">
				
			</div>
			<div class="col-md-7">
				<form role="form" id="link-form"> 
					<div class="input-group input-group-lg">
						<input type="text" class="form-control" id="link-input" placeholder="Enter or Copy/Paste a URL">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit">Add</button>
						</span>
					</div>
				</form>
				
				<div class="links-area">
					<ul id="sortable">
						
					</ul>
				</div>
			</div>
		</div>	
    </div>