    <!-- Begin page content -->
    <div class="main-area">
    			<div id="filter-area" style="display: none"><div id="filter-text">Filtered by</div></div>
					<div id="link-area">
						<% links.forEach(function(link) { %>		
							<% include ../../assets/templates/link.ejs %>
						<% }); %>
					</div>
    </div>