      <div class="alert alert-warning" role="alert" style="display: none;">
        <button type="button" class="close" id="alert-close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div id="alert-text"><b>Heads up!</b> You need to verify your email address before adding links. Just look for the email we sent you. <a href="#" class="alert-link" id="resend-verify-email">Resend the email</a> or <a href="#" class="alert-link" id="change-address">change your address</a></div>
      </div>
      <span style="display: none" id="unverified">1</span>